---
import type { SelectProperty } from '../../../lib/interfaces.ts'
import { NUMBER_OF_POSTS_PER_PAGE } from '../../../server-constants.ts'
import {
  getPostsByTag,
  getRankedPosts,
  getAllTags,
  getNumberOfPagesByTag,
} from '../../../lib/notion/client.ts'
import Layout from '../../../layouts/Layout.astro'
import NoContents from '../../../components/NoContents.astro'
import PostDate from '../../../components/PostDate.astro'
import PostTags from '../../../components/PostTags.astro'
import PostTitle from '../../../components/PostTitle.astro'
import PostFeaturedImage from '../../../components/PostFeaturedImage.astro'
import Pagination from '../../../components/Pagination.astro'
import styles from '../../../styles/blog.module.css'
import '../../../styles/notion-color.css'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const allTags = await getAllTags()
  return allTags.map((tag: SelectProperty) => ({ params: { tag: tag.name } }))
}

const { tag } = Astro.params

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPostsByTag(tag, NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPagesByTag(tag),
])

const currentTag = posts[0].Tags.find((t) => t.name === tag)
---

<Layout title={`Posts in ${tag}`} path={`/posts/tag/${tag}`}>
  <div slot="main" class={styles.main}>
    <header>
      <div class="tag-container">
        <Icon name="mingcute:filter-fill" />
        <span class={`tag ${currentTag.color}`}>{tag}</span>
      </div>
    </header>
    
    <div class="card-wrapper">
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
        <div class="grid-parts">
          <div class={styles.post} key={post.Slug}>
            <PostFeaturedImage post={post} />
            <div class="grid-text">
              <PostTitle post={post} />
              <div class="date-area">
                <Icon name="mingcute:calendar-2-fill" />
                <PostDate post={post} />
              </div>
              <div class="tags-area">
                <Icon name="mingcute:tag-2-fill" />
                <PostTags post={post} />
              </div>
            </div>
          </div>
          </div>
        ))
      )
    }
    </div>

    <footer>
      <Pagination tag={tag} currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>
</Layout>

<style>
  header {
    padding: 0;
  }
  .tag-container {
    display: flex;
    align-items: center;
    padding: 6px 0 16.5px 0;
    line-height: 1.2rem;
    font-size: 1rem;
  }
  .tag-container span.tag {
    border-radius: 8px;
    padding: 7.2px 12px;
    background: rgba(227, 226, 224, 0.5);
  }
  .tag-container svg {
    min-width: 26px;
    min-height: 26px;
    margin-right: 6px;
  }
  .date-area {
    display: flex;
    align-items: center;
    padding: 0 0 0.3rem;
    margin-top: 0.3rem;
  }
  .tags-area {
    display: flex;
    align-items: center;
    padding: 0 0 0.3rem;
  }
  .{styles.main} svg {
    width: 18px;
    height: 18px;
    margin-right: 5px; 
  }
  [data-icon="mingcute:filter-fill"] {
    color: #333333;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 15px;
    row-gap: 15px;
    line-height: 32px;
  }
  @media (max-width: 900px) {
    .card-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (max-width: 640px) {
    .card-wrapper {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      line-height: 28px;
    }
  }
  .grid-parts {
    border:solid 1px #dfdfde;
    border-radius: 8px;
    overflow: hidden;
  }
  .grid-text {
    margin: 6px 13px 10px 13px;
  }
</style>