---
import {
  getPosts,
  getRankedPosts,
  getAllTags,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import '../styles/post-grid.css'
import { Icon } from 'astro-icon/components'
import arkicon from '../images/arkicon.webp'
import SocialLinks from '../components/SocialLinks.astro'
import DiaryLinks from '../components/DiaryLinks.astro'
import OtherLinks from '../components/OtherLinks.astro'

const [posts, rankedPosts] = await Promise.all([
  getPosts(3),
  getRankedPosts(5),
  getAllTags(),
])
---

<Layout>
  <div slot="main">
    <div class="myhead">
      <img src={arkicon.src} class="ark-icon" alt="Ark"/>
      <div class="label">
        <h1>Hi, I'm Ark</h1>
        <span>アニメ・邦楽・DTV・ガジェット・キャッシュレスが好き。</span>
      </div>
      <SocialLinks />
    </div>
    <div class="top-container">
      <div class="latest">
        <h2>最新記事</h2>
        <a class="all-posts" href="/blog/">
          すべての記事を見る
          <Icon name="mingcute:arrow-right-line" />
        </a>
      </div>

    <div class="card-wrapper">
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div class="grid-parts">
            <div key={post.Slug}>
              <figure class="grid-image">
                <PostFeaturedImage post={post} />
              </figure>
              <div class="grid-fix">
                <div class="grid-text">
                  <PostTitle post={post} />
                  <div class="date-area">
                    <PostDate post={post} />
                  </div>
                  <div class="tags-area">
                    <Icon name="mingcute:tag-2-fill" />
                    <PostTags post={post} />
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      )
    }
    </div>
    </div>

    <div class="home-container">
      <h2>おすすめ記事</h2>
      <BlogPostsLink posts={rankedPosts} />
    </div>

    <div class="home-container">
      <h2>ダイアリー</h2>
      <DiaryLinks />
    </div>

    <div class="home-container">
      <h2>その他リンク</h2>
      <OtherLinks />
    </div>
  </div>
</Layout>

<style>
  .latest {
    display: flex;
    align-items: center;
  }
  .all-posts {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 3px;
    padding: 6px 6px 9px 7px;
    border-radius: 8px;
    font-size: 0.95rem;
    color: var(--fg);
  }
  @media (hover: hover) {
    .all-posts:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    .all-posts:active {
      background: var(--bg2);
    }
  }
  .all-posts svg {
    margin: 3px 0 0 2px;
  }
  .top-container {
    margin-top: 30px;
  }
  .home-container {
    margin-top: 50px;
  }
  .ark-icon {
    width: 150px;
    height: 150px;
  }
  @media (max-width: 640px) {
    .ark-icon {
      width: 120px;
      height: 120px;
    }
  }
  .label {
    padding: 10px 0 25px;
    line-height: 1.4;
  }
  .label h1 {
    font-size: 2.5rem;
  }
</style>