---
import {
  getPosts,
  getRankedPosts,
  getAllTags,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import styles from '../styles/blog.module.css'
import { Icon } from 'astro-icon/components'
import arkicon from '../images/arkicon.png'
import SocialLinks from '../components/SocialLinks.astro'
import DiaryLinks from '../components/DiaryLinks.astro'
import OtherLinks from '../components/OtherLinks.astro'

const [posts, rankedPosts] = await Promise.all([
  getPosts(3),
  getRankedPosts(5),
  getAllTags(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <div class="myhead">
      <img src={arkicon.src} class="ark-icon" alt="Ark"/>
      <div class="label">
        <h1>Hi, I'm Ark</h1>
        <span>アニメ・邦楽・DTV・ガジェット・キャッシュレスが好き。</span>
      </div>
    </div>
    <SocialLinks />
    <div class="latest">
      <h2>最新記事</h2>
      <a class="all-posts" href="/blog">
        すべての記事を見る
        <Icon name="mingcute:arrow-right-line" />
      </a>
    </div>

    <div class="card-wrapper">
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts.map((post) => (
          <div class="grid-parts">
            <div class={styles.post} key={post.Slug}>
              <figure class="grid-image">
                <PostFeaturedImage post={post} />
              </figure>
              <div class="grid-text">
                <PostTitle post={post} />
                <div class="date-area">
                  <PostDate post={post} />
                </div>
                <div class="tags-area">
                  <Icon name="mingcute:tag-2-fill" />
                  <PostTags post={post} />
                </div>
              </div>
            </div>
          </div>
        ))
      )
    }
    </div>

    <div class="recommend">
      <h2>おすすめ記事</h2>
      <BlogPostsLink posts={rankedPosts} />
    </div>

    <div class="diary">
      <h2>ダイアリー</h2>
      <DiaryLinks />
    </div>

    <div class="other">
      <h2>その他リンク</h2>
      <OtherLinks />
    </div>
  </div>
</Layout>

<style>
  .date-area {
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
  }
  .tags-area {
    display: flex;
    align-items: center;
    margin: 0 0 0.3rem;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 15px;
    row-gap: 15px;
    line-height: 32px;
  }
  @media (max-width: 900px) {
    .card-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (max-width: 640px) {
    .card-wrapper {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      line-height: 28px;
    }
  }
  .grid-parts {
    border:solid 1px #dfdfde;
    border-radius: 8px;
    overflow: hidden;
  }
  .grid-parts svg {
    width: 18px;
    height: 18px;
    margin-right: 5px; 
  }
  .grid-image {
    overflow: hidden;
  }
  .grid-text {
    padding: 6px 13px 13px;
  }
  .latest {
    display: flex;
    align-items: center;
  }
  .all-posts {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 6px;
    border-radius: 8px;
    font-size: 0.95rem;
    color: #222222;
  }
  .all-posts:hover {
    background: #f7f6f3;
  }
  .all-posts svg {
    margin: 2px 0 0 2px;
  }
  .recommend {
    padding-top: 20px;
  }
  .ark-icon {
    width: 150px;
    height: 150px;
  }
  @media (max-width: 640px) {
    .ark-icon {
      width: 120px;
      height: 120px;
    }
  }
  .label {
    padding: 10px 0 25px 0;
  }
  .label h1 {
    font-size: 2.5rem;
  }
  .diary {
    padding-top: 20px;
  }
  .other {
    padding-top: 10px;
  }
</style>