---
import { PUBLIC_GA_TRACKING_ID } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import Darkmode from '../components/Darkmode.astro'
import Navigation from '../components/Navigation.astro'
import RssButton from '../components/RssButton.astro'
import '@fontsource-variable/inter/opsz.css';
import '@fontsource-variable/noto-sans-jp';
import '@fontsource-variable/jetbrains-mono';

export interface Props {
  title: string
  description: string
  path: string
  ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
  getStaticFilePath('/default-og-image.png'),
  Astro.site
)

let coverImageURL: string
if (database.Cover) {
  if (database.Cover.Type === 'external') {
    coverImageURL = database.Cover.Url
  } else if (database.Cover.Type === 'file') {
    try {
      coverImageURL = filePath(new URL(database.Cover.Url))
    } catch {
      console.log('Invalid DB cover image URL: ', database.Cover?.Url)
    }
  }
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
  try {
    customIconURL = filePath(new URL(database.Icon.Url))
  } catch {
    console.log('Invalid DB custom icon URL: ', database.Icon?.Url)
  }
}
---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#" data-overlayscrollbars-initialize>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={database.Title} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="alternate" type="application/rss+xml" title={database.Title} href="/rss.xml">
    <style>
      body {
        font-family: 'Inter Variable', 'Noto Sans JP Variable', sans-serif;
      }
    </style>
    <script src="../scripts/scrollbars.js"></script>
  </head>

  <body data-overlayscrollbars-initialize>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <div class="container" ontouchstart="">
      <header>
        <nav>
          <div class="bg-header">
            <a class="logo" href={getNavLink('/')} aria-label="ARKWEB">
              <div id="logo-icon"></div>
              <div id="logo-type"></div>
            </a>
            <div class="switch">
              <Darkmode />
              <RssButton />
            </div>
          </div>
          <Navigation />
        <nav>
      </header>

      <main>
        <div class="content">
          <slot name="main" />
        </div>
      </main>

      <footer>
        <div class="copyright">
          <span>&copy; 2025 ARKWEB</span>
        </div>
        <div class="system">
          <span>Built with </span>
          <a href="https://astro.build" target="_blank" rel="noopener noreferrer">{Astro.generator}</a>
          <br>
          <span>Powered by </span>
          <a href="https://github.com/otoyo/astro-notion-blog" target="_blank" rel="noopener noreferrer">astro-notion-blog</a>
        </div>
      </footer>
      <div id="toast-container"></div>
    </div>
  </body>
</html>

<style>
  .container {
    min-height: 100vh;
    min-height: 100dvh;
  }
  header {
    padding: 12px;
  }
  .bg-header {
    display: flex;
    height: fit-content;
  }
  @media (max-width: 640px) {
    header {
      padding: 12px 6px;
    }
    .bg-header {
      padding-top: 55px;
    }
  }
  @media (hover: hover) {
    .bg-header a:hover {
      background: var(--bg2);
    }
  }
  @media (hover: none) {
    .bg-header a:active {
      background: var(--bg2);
    }
  }
  .logo {
    display: flex;
    align-items: center;
    padding: 5px 9px 5px 7px;
    border-radius: var(--radius);
  }
  #logo-icon {
    -webkit-mask: url("../images/blogicon.svg") no-repeat center center / contain;
    mask-image: url("../images/blogicon.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    height: 23px;
    width: 38px;
    background-color: var(--ac);
  }
  #logo-type {
    -webkit-mask: url("../images/arksblog.svg") no-repeat center center / contain;
    mask-image: url("../images/arksblog.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    height: 23px;
    width: 80.5px;
    background-color: var(--fg);
  }
  .bg-header .switch {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    position: relative;
  }

  div.content {
    padding: 30px 20px 60px 20px;
  }
  @media (max-width: 640px) {
    div.content {
      padding: 30px 18px 60px 18px;
    }
  }

  footer {
    position: sticky;
    top: 100vh;
    top: 100dvh;
    padding: 20px 20px;
    line-height: 1.4;
  }
  footer::before {
    content: "";
    display: block;
    height: 1px;
    width: 183px;
    background: var(--bd);
    margin-bottom: 20px;
  }
  .copyright {
    font-size: 1rem;
  }
  .system, .system > a {
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: var(--fg2);
  }
  @media (hover: hover) {
    .system > a:hover {
      color: var(--ac);
      text-decoration: underline;
    }
  }
  @media (hover: none) {
    .system > a:active {
      color: var(--ac);
      text-decoration: underline;
    }
  }
  @media (max-width: 640px) {
    footer {
      padding: 18px 18px;
    }
    footer::before {
      width: 170px;
    }
    .copyright {
      font-size: 0.95rem;
    }
    .system, .system a {
      font-size: 0.75rem;
    }
  }
</style>

<style is:global>
  :root {
    --bg: #fff;
    --bg2: #f2f2f2;
    --fg: #222;
    --fg2: #787774;
    --bd: #dfdfde;
    --bd2: #c6c6c4;
    --ac: #987745;
    --ac2: #795723;
    --ac3: #dec094;
    --ac4: #f8e1be;
    --scroll: 0, 0, 0;
    --border: 1px solid var(--bd);
    --radius: 8px;
    --shadow: 0 5px 15px #001b443b;
    --font-sans: 'Inter Variable', 'Noto Sans JP Variable', sans-serif;
    --font-mono: 'JetBrains Mono Variable', 'Noto Sans JP Variable', monospace, sans-serif;
  }

  * {
    box-sizing: border-box;
    word-break: break-word;
  }
  *:focus {
    outline: none;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
  }

  body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    min-height: 100dvh;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    color: var(--fg);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

  figure {
    margin: 0;
    font-size: 0.85rem;
    color: #999;
    line-height: 1.8rem;
  }

  a, button, summary {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  a {
    text-decoration: none;
  }
  button {
    font-family: var(--font-sans);
  }

  mark {
    padding: 0.25rem;
    border-radius: 4px;
    background: rgba(247, 212, 255, 0.8);
  }

  h1 {
    margin: 0;
    color: var(--fg);
    font-weight: 700;
  }

  ol {
    color: var(--fg);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  p, ul {
    color: var(--fg);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  ul, ol {
    margin: 0;
    padding-inline-start: 1.5rem;
  }
  pre {
    margin: 0;
    white-space: pre;
    tab-size: 2;
  }
  pre :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0.3rem 0;
    background-color: #222;
  }

  code {
    font-size: 0.9rem;
    padding: 0.25rem;
    border-radius: 4px;
    font-family: var(--font-mono);
    font-variant-ligatures: none;
    letter-spacing: -1px;
  }

  table {
    display: block;
    overflow-x: auto;
    border-spacing: 0;
  }
  table tr {
    vertical-align: top;
  }
  table th {
    font-weight: 600;
  }
  table td, table th {
    min-width: 100px;
    font-size: 0.9rem;
    padding: 0.5rem 1.75rem 0.5rem 0;
    text-align: left;
    line-height: 1.2rem;
    border-bottom: var(--border);
  }
  table tr td:last-of-type {
    padding-right: 0;
  }
  table tr:last-child td, table tr:last-child th {
    border-bottom: none;
  }
  .os-scrollbar-handle {
    background: rgba(var(--scroll), 0.3) !important;
  }
  @media (hover: hover) {
    .os-scrollbar-handle:hover {
      background: rgba(var(--scroll), 0.5) !important;
    }
  }

  #toast-container {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 30px;
    margin: 0 auto;
    width: fit-content;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .toast {
    background: var(--bg);
    color: var(--fg);
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 0 15px;
    padding: 0.8rem 1.1rem 0.9rem;
    font-size: 14.5px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  .toast.show {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<script>
  function imgWidthHeightSet() {
    const images = document.querySelectorAll('img');
    images.forEach(image => {
        const img = new Image();
        img.onload = function() {
            image.setAttribute('width', this.width);
            image.setAttribute('height', this.height);
        };
        img.src = image.getAttribute('src') || image.getAttribute('data-src');
    });
  }
  
  document.addEventListener('DOMContentLoaded', imgWidthHeightSet);
</script>