---
import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import Darkmode from '../components/Darkmode.astro'
import Navigation from '../components/Navigation.astro'

export interface Props {
  title: string
  description: string
  path: string
  ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
  getStaticFilePath('/default-og-image.png'),
  Astro.site
)

let coverImageURL: string
if (database.Cover) {
  if (database.Cover.Type === 'external') {
    coverImageURL = database.Cover.Url
  } else if (database.Cover.Type === 'file') {
    try {
      coverImageURL = filePath(new URL(database.Cover.Url))
    } catch (err) {
      console.log('Invalid DB cover image URL')
    }
  }
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
  try {
    customIconURL = filePath(new URL(database.Icon.Url))
  } catch (err) {
    console.log('Invalid DB custom icon URL')
  }
}
---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={database.Title} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="alternate" type="application/rss+xml" title={database.Title} href="/rss.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: "Inter", "Noto Sans JP", sans-serif;
      }
    </style>
  </head>

  <body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <div class="container" onclick="">
      <header class="site-header">
        <h1>
          <a href={getNavLink('/')}>
            <div class="custom-icon"></div>
            <div class="coversvg"></div>
          </a>
        </h1>
        <div class="header_button_wrapper">
          <Navigation />
          <Darkmode />
        </div>
      </header>

      <main>
        <div class="content">
          <slot name="main" />
        </div>
      </main>

      <footer>
        <div class="copyright">
          <span>&copy; 2024 ARKWEB</span>
        </div>
        <div class="system">
          <span>Built with </span>
          <a href="https://astro.build" target="_blank" rel="noopener noreferrer">{Astro.generator}</a>
          <br>
          <span>Powered by </span>
          <a href="https://github.com/otoyo/astro-notion-blog" target="_blank" rel="noopener noreferrer">astro-notion-blog</a>
        </div>
      </footer>
    </div>
  </body>
</html>

<style>
  .container {
    min-height: 100vh;
    min-height: 100dvh;
  }

  header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: var(--bg);
    padding: 10px 10px;
    z-index: 98;
    transition:
      translateY 600ms,
      opacity 200ms;
  }
  @media (max-width: 640px) {
    header {
      padding: 6px 6px;
    }
  }
  header.hide {
    translatey: -100%;
    opacity: 0;
  }

  main {
    flex: 1;
    order: 2;
    justify-content: space-between;
  }
  @media (max-width: 640px) {
    main {
      order: 1;
      padding-top: 1.5rem;
    }
  }
  
  @media screen and (max-width: 640px) {
    main {
      margin: 0;
    }
  }

  .custom-icon{
    -webkit-mask: url("../images/blogicon.svg") no-repeat center center / contain;
    mask-image: url("../images/blogicon.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    height: 25px;
    width: 41px;
    background-color: var(--accents-4);
  }

  .coversvg {
    -webkit-mask: url("../images/arksblog.svg") no-repeat center center / contain;
    mask-image: url("../images/arksblog.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    height: 25px;
    width: 87.5px;
    background-color: var(--fg);
  }

  .header_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 8px;
  }

  @media (max-width: 640px) {
    .custom-icon {
      height: 23px;
      width: 38px;
    }
    .coversvg {
      height: 23px;
      width: 80.5px;
    }
    .header_button_wrapper {
      gap: 4px;
    }
  }

  header > h1 > a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 5px 5px 5px 3px;
    border-radius: 8px;
  }

  header > h1 > a:hover {
    background: var(--bg2);
  }

  div.content {
    padding: 30px 20px 60px 20px;
  }
  @media (max-width: 640px) {
    div.content {
      padding: 10px 18px 60px 18px;
    }
  }

  footer {
    position: sticky;
    top: 100vh;
    top: 100dvh;
    padding: 20px 20px;
    line-height: 1.4;
  }
  footer::before {
    content: "";
    display: block;
    height: 1px;
    width: 183px;
    background: #dfdfde;
    margin-bottom: 20px;
  }
  .copyright {
    font-size: 1rem;
  }
  .system, .system > a {
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: #787774;
  }
  .system > a:hover {
    color: var(--accents-4);
    text-decoration: underline;
  }
  @media (max-width: 640px) {
    footer {
      padding: 18px 18px;
    }
    footer::before {
      width: 170px;
    }
    .copyright {
      font-size: 0.95rem;
    }
    .system, .system a {
      font-size: 0.75rem;
    }
  }
</style>

<style is:global>
  :root {
    --gap-quarter: 0.25rem;
    --gap-half: 0.5rem;
    --gap: 1rem;
    --gap-double: 2rem;

    --bg: #fff;
    --fg: #222;
    --accents-1: #666;
    --accents-2: #666;
    --accents-3: #d3d1cb;
    --accents-4: #987745;
    --accents-5: #795723;
    --accents-6: #dec094;
    --accents-7: #f8e1be;
    --border: #dfdfde;
    --border2: #c6c6c4;
    --bg2: #f7f6f3;

    --radius: 4px;

    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    --font-mono: 'Noto Sans Mono', 'Noto Sans JP', monospace;
  }

  * {
    box-sizing: border-box;
    word-break: break-word;
  }

  *:focus {
  outline: none;
  }

  html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 55px; 
  }

  body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    min-height: 100dvh;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    overflow-y: scroll;
    background: var(--bg);
    color: var(--fg);

    /*background-image: radial-gradient(#ddd 1px, transparent 1px),
      radial-gradient(#ddd 1px, transparent 1px);*/
    background-position: 0 0, 25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;

    /* Hack */
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

  figure {
    margin: 0;
    font-size: 0.85rem;
    color: #999;
    line-height: 1.8rem;
  }

  a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  a:hover {
    color: var(--accents-5);
  }

  mark {
    padding: var(--gap-quarter);
    border-radius: var(--radius);
    background: rgba(247, 212, 255, 0.8);
  }

  h1 {
    margin: 0;
    color: var(--fg);
    font-size: 2rem;
    font-weight: 700;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 1.6rem;
    }
  }

  ol {
    color: #222;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  p, ul {
    color: #222;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  ul, ol {
    margin: 0;
    padding-inline-start: 1.5rem;
  }
  pre {
    margin: 0;
    white-space: pre;
    tab-size: 2;
  }
  pre :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 0.3rem 0;
    background-color: #222;
  }

  code {
    font-size: 0.9rem;
    padding: 0.25rem;
    border-radius: var(--radius);
    font-family: var(--font-mono);
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-spacing: 0;
  }

  table tr {
    vertical-align: top;
  }

  table th {
    font-weight: 600;
  }

  table td, table th {
    font-size: 0.9rem;
    padding: 0.5rem 2rem 0.5rem 0;
    text-align: left;
    line-height: 1.2rem;
    border-bottom: solid 1px #dfdfde;
  }
  table td::after {
    content: '';
    display: inline-block;
    min-height: 0.9rem;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--accents-4);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--accents-5);
  }
</style>

<script>
  function imgWidthHeightSet() {
    const images = document.querySelectorAll('img');
    images.forEach(image => {
        const img = new Image();
        img.onload = function() {
            image.setAttribute('width', this.width);
            image.setAttribute('height', this.height);
        };
        img.src = image.getAttribute('src') || image.getAttribute('data-src');
    });
  }
  
  document.addEventListener('DOMContentLoaded', imgWidthHeightSet);

  let lastScrollTop = 0;
  function scrollHandler() {
    const header = document.querySelector('header')!;
    const body = document.querySelector('body')!;
    const scrollTop = window.scrollY || document.documentElement.scrollTop;
    if (scrollTop < lastScrollTop) {
      header.classList.remove('hide');
    } else if (window.scrollY > 48 && !body.classList.contains('no-scroll')) {
      header.classList.add('hide');
    }
    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
  }

  let timeout: NodeJS.Timeout | null = null;
  function throttleScrollHandler() {
    if (timeout) {
      clearTimeout(timeout);
    }
    timeout = setTimeout(() => {
      scrollHandler();
      timeout = null;
    }, 50);
  }

  document.addEventListener('scroll', throttleScrollHandler);
</script>